exportPattern("^[[:alpha:]]+")
importFrom("graphics", "polygon")
importFrom("stats", "dist", "runif")
importFrom("utils", "combn")
import('MASS')
import("e1071")
import("flexclust")
import("rje")
import("geometry")
import("cccd")
